:root{
  --background-color: #7f5fd8 
}
*{
  margin:0;
  padding:0;
}

body{
  background-color: var(--background-color);
}

.home{
  display: grid;
  grid-auto-flow: row;
}

.Header{
  position: relative;
}

.header{
  position: relative;
}

.plans{
  position: relative;
}